# 数据的导入和导出

In [1]:
import pandas as pd
import numpy as np

c:\Users\OneRaise\miniconda3\Lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
c:\Users\OneRaise\miniconda3\Lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
c:\Users\OneRaise\miniconda3\Lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-246-g3d31191b-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

# Excel

In [13]:
pd.read_excel('data/stock.xlsx', nrows=5)

     代码     名称      涨跌幅   成交量（手）  成交额（万）
0  深市A股   德豪润达  0.10304    78297    2114
1  沪市A股   宏图高科  0.10241   484227   18074
2  深市A股   华映科技  0.10169  2356383   56192
3  沪市B股  ST毅达B  0.07692    15129      19
4  深市B股    建车B  0.03681      960      64

In [15]:
# 参数header=None表示不将数据的第一行识别为标题
pd.read_excel('data/stock.xlsx', nrows=5, header=None)

      0      1        2        3       4
0    代码     名称      涨跌幅   成交量（手）  成交额（万）
1  深市A股   德豪润达  0.10304    78297    2114
2  沪市A股   宏图高科  0.10241   484227   18074
3  深市A股   华映科技  0.10169  2356383   56192
4  沪市B股  ST毅达B  0.07692    15129      19

In [17]:
# 参数names重新给数据的列命名
pd.read_excel('data/stock.xlsx', nrows=5, header=None,
              names=['a', 'b', 'c', 'd', 'e'])

      a      b        c        d       e
0    代码     名称      涨跌幅   成交量（手）  成交额（万）
1  深市A股   德豪润达  0.10304    78297    2114
2  沪市A股   宏图高科  0.10241   484227   18074
3  深市A股   华映科技  0.10169  2356383   56192
4  沪市B股  ST毅达B  0.07692    15129      19

In [5]:
# usecols参数将需要读取的列提取出来
pd.read_excel('data/stock.xlsx', nrows=5, usecols=[1, 2, 3])

      名称      涨跌幅   成交量（手）
0   德豪润达  0.10304    78297
1   宏图高科  0.10241   484227
2   华映科技  0.10169  2356383
3  ST毅达B  0.07692    15129
4    建车B  0.03681      960

# CSV

In [19]:

df1 = pd.read_csv('data/sales.csv', sep=',', encoding='gbk')
df1.head()

   序号 天气 是否周末 是否有促销 销量
0   1  坏    是     是  高
1   2  坏    是     是  高
2   3  坏    是     是  高
3   4  坏    否     是  高
4   5  坏    是     是  高

In [20]:
# 指定读取行数
pd.read_csv('data/sales.csv', sep=',', encoding='gbk', nrows=2)

   序号 天气 是否周末 是否有促销 销量
0   1  坏    是     是  高
1   2  坏    是     是  高

In [22]:
pd.read_csv('data/sales.csv', sep=',', encoding='gbk', usecols=[1, 3]).head()

  天气 是否有促销
0  坏     是
1  坏     是
2  坏     是
3  坏     是
4  坏     是

# JSON

In [9]:
pd.read_json('data/sites.json')

   id    name             url  likes
0   1  Google  www.google.com    111
1   2  Runoob  www.runoob.com    222
2   3  Taobao  www.taobao.com    333

# txt

In [10]:
pd.read_table('data/table.txt')

   a b c
0  1 2 3
1  4 5 6
2  7 8 9

# 读取网络数据

In [23]:
url = 'https://s.askci.com/stock/a/'
pd.read_html(url)[0]

     0       1     2          3
0   排名    股票代码  企业简称  营业收入 （亿元）
1    1  600028  中国石化   33181.68
2    2  601857  中国石油   32391.67
3    3  601668  中国建筑   20550.52
4    4  601390  中国中铁   11543.58
5    5  601318  中国平安   11105.68
6    6  601186  中国铁建   10963.13
7    7  600941  中国移动    9372.59
8    8  601398  工商银行    9179.89
9    9  600153  建发股份    8328.12
10  10  601628  中国人寿    8260.55

## 其他
### GBK
- GBK全称《汉字内码扩展规范》（GBK即“国标”、“扩展”汉语拼音的第一个字母，英文名称：Chinese Internal Code Specification）。GBK 向下与 GB 2312 编码兼容，向上支持ISO 10646国际标准，是前者向后者过渡过程中的一个承上启下的产物。GBK编码，是在GB2312-80标准基础上的内码扩展规范，使用了双字节编码方案，其编码范围从8140至FEFE（剔除xx7F），共23940个码位，共收录了21003个汉字，完全兼容GB2312-80标准，支持国际标准ISO/IEC10646-1和国家标准GB13000-1中的全部中日韩汉字，并包含了BIG5编码中的所有汉字。