# 数据的导入和导出

In [32]:
import pandas as pd
import numpy as np

# Excel

In [33]:
pd.read_excel('data/stock.xlsx', nrows=5)

     代码     名称      涨跌幅   成交量（手）  成交额（万）
0  深市A股   德豪润达  0.10304    78297    2114
1  沪市A股   宏图高科  0.10241   484227   18074
2  深市A股   华映科技  0.10169  2356383   56192
3  沪市B股  ST毅达B  0.07692    15129      19
4  深市B股    建车B  0.03681      960      64

In [34]:
pd.read_excel('data/stock.xlsx', nrows=5, header=None)

      0      1        2        3       4
0    代码     名称      涨跌幅   成交量（手）  成交额（万）
1  深市A股   德豪润达  0.10304    78297    2114
2  沪市A股   宏图高科  0.10241   484227   18074
3  深市A股   华映科技  0.10169  2356383   56192
4  沪市B股  ST毅达B  0.07692    15129      19

In [35]:
pd.read_excel('data/stock.xlsx', nrows=5, header=None,
              names=['a', 'b', 'c', 'd', 'e'])

      a      b        c        d       e
0    代码     名称      涨跌幅   成交量（手）  成交额（万）
1  深市A股   德豪润达  0.10304    78297    2114
2  沪市A股   宏图高科  0.10241   484227   18074
3  深市A股   华映科技  0.10169  2356383   56192
4  沪市B股  ST毅达B  0.07692    15129      19

In [36]:
pd.read_excel('data/stock.xlsx', nrows=5, usecols=[1, 2, 3])

      名称      涨跌幅   成交量（手）
0   德豪润达  0.10304    78297
1   宏图高科  0.10241   484227
2   华映科技  0.10169  2356383
3  ST毅达B  0.07692    15129
4    建车B  0.03681      960

# CSV

In [37]:
df1 = pd.read_csv('data/sales.csv', sep=',', encoding='gbk')
df1.head()

   序号 天气 是否周末 是否有促销 销量
0   1  坏    是     是  高
1   2  坏    是     是  高
2   3  坏    是     是  高
3   4  坏    否     是  高
4   5  坏    是     是  高

In [38]:
# 指定读取行数
pd.read_csv('data/sales.csv', sep=',', encoding='gbk', nrows=2)

   序号 天气 是否周末 是否有促销 销量
0   1  坏    是     是  高
1   2  坏    是     是  高

In [39]:
pd.read_csv('data/sales.csv', sep=',', encoding='gbk', usecols=[1, 3]).head()

  天气 是否有促销
0  坏     是
1  坏     是
2  坏     是
3  坏     是
4  坏     是

# JSON

In [40]:
pd.read_json('data/sites.json')

   id    name             url  likes
0   1  Google  www.google.com    111
1   2  Runoob  www.runoob.com    222
2   3  Taobao  www.taobao.com    333

# txt

In [41]:
pd.read_table('data/table.txt')

   a b c
0  1 2 3
1  4 5 6
2  7 8 9

# 读取网络数据

In [ ]:
url = 'https://s.askci.com/stock/a/'
pd.read_html(url)[0]